<!-- Footer section -->
<footer class="footer">
	<div class="container">
		<!-- Twitter carousel -->
		<div class="swiper-container">
			<div class="swiper-wrapper" id="twitter-feed"></div>
			<!-- Slider pagination -->
			<div class="swiper-pagination"></div>
		</div>

		<div class="row">
		
		<!-- Latest post -->
		<div class="col-sm-4">
			<h3 class="heading-info">Latest from blog:</h3>

			<div class="row">
				<div class="col-xs-6 col-sm-12 one-column">
					<article class="post post--latest">
						<h3 class="not-visible">Latest post</h3>
						<a class="post__images" href="single-post.html">
							<img src="__STATIC__/theme/images/160x160.png" alt="">
						</a>
						<a class="post__text" href="single-post.html">Mauris orci purus, ultrices dapibus justo non, eleifend consequat lorem. </a>
						<time datetime="2014-07-17" class="post__date">July 17, 2014</time>
					</article>
				</div>
			
				<div class="col-xs-6 col-sm-12 one-column">
					<article class="post post--latest">
						<h3 class="not-visible">Latest post</h3>
						<a class="post__images" href="single-post.html">
							<img src="__STATIC__/theme/images/160x160.png" alt="">
						</a>
						<a class="post__text" href="single-post.html">Pellentesque et magna malesuada, scelerisque elit ac, convallis lacus. </a>
						<time datetime="2014-07-16" class="post__date">July 16, 2014</time>
					</article>
				</div>
			</div>
		</div>
		<!-- end latest post -->
		
		<!-- Contact info about company -->
		<div class="col-sm-4">
			<h3 class="heading-info heading-info--mobile">Contact info:</h3>
			<!-- Contact information about company -->
				<address class="contact-info contact-info--list">
					<div class="row">
						<div class="col-xs-6 col-sm-12 one-column">
							<span class="contact-info__item">
								<i class="fa fa-location-arrow"></i>
								101 West Street, New York, NY 12345
							</span>
							<span class="contact-info__item">
								<i class="fa fa-mobile"></i>
								+1-888-555-5555 / +1-888-123-3535
							</span>
						</div>
			
						<div class="col-xs-6 col-sm-12 one-column">
							<span class="contact-info__item">
								<i class="fa fa-envelope"></i>
								info@allec.com / sales@allec.com
							</span>
							<span class="contact-info__item">
								<i class="fa fa-skype"></i>
								allec-support
							</span>
						</div>
					</div>
				</address>
				<!-- end contact information -->
		</div>
		<!-- end contact info -->
		
		<!-- Social links -->
		<div class="col-sm-4">
		<h3 class="heading-info heading-info--mobile">We’re social:</h3>
			<div class="social social--default">
				<!-- List with social icons -->
				<ul>
					<li class="social__item"><a class="social__link" href="https://twitter.com/OliaGozha" target="_blank"><i class="social__icon fa fa-twitter"></i></a></li>
					<li class="social__item"><a class="social__link" href="https://www.facebook.com/olia.gozha" target="_blank"><i class="social__icon fa fa-facebook"></i></a></li>
					<li class="social__item"><a class="social__link" href="https://plus.google.com/u/0/+OliaGozha/posts" target="_blank"><i class="social__icon fa fa-google-plus"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-pinterest"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-tumblr"></i></a></li>
					<li class="social__item"><a class="social__link" href="http://www.linkedin.com/pub/olia-gozha/49/b91/268" target="_blank"><i class="social__icon fa fa-linkedin"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-youtube"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-github-alt"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-flickr"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-vimeo-square"></i></a></li>
					<li class="social__item"><a class="social__link" href="http://dribbble.com/OliaGozha" target="_blank"><i class="social__icon fa fa-dribbble"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-stumbleupon"></i></a></li>
					<li class="social__item"><a class="social__link" href="http://instagram.com/olechka_dumka#" target="_blank"><i class="social__icon fa fa-instagram"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-soundcloud"></i></a></li>
					<li class="social__item"><a class="social__link" href="http://www.behance.net/olia_gozha" target="_blank"><i class="social__icon fa fa-behance"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-vine"></i></a></li>
				</ul>
			</div>
		</div>
		<!-- end social links -->
		</div><!-- end row -->
		
		<div class="copy">
			&copy; Allec, 2014. All rights reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
		</div>

	</div><!-- end container -->
</footer>

<include file="Public/var"/>
<!-- JavaScript-->
<!-- External-->
<!-- jQuery 1.10.1--> 
<script src="__STATIC__/theme/js/jquery.min.js"></script>
<!-- Bootstrap 3--> 
<script src="__STATIC__/theme/js/bootstrap.min.js"></script>
<!-- Mobile menu -->
<script src="__STATIC__/theme/external/z-nav/jquery.mobile.menu.js"></script>

<!-- Touch slider - Swiper -->
<script src="__STATIC__/theme/external/swiper/idangerous.swiper.js"></script>

<!-- Scroll to piugin -->
<script src="__STATIC__/theme/external/scrollto/jquery.scrollTo.min.js"></script>


<!-- Waypoints -->
<script src="__STATIC__/theme/external/waypoint/waypoints.min.js"></script>


<!-- Custom -->
<script src="__STATIC__/theme/js/custom.js"></script>


<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
