<extend name="Base/common"/>

<block name="style">
	<!-- mCustomScrollbar -->
   <link href="__STATIC__/theme/external/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />
</block>
<block name="body">
	<!-- Section show current page and breadcrumb -->
		<section class="page-indecator">
			<div class="container">
				<h2 class="heading">About</h2>
				
				<!-- Breadcrumb pattern -->
				<ol class="breadcrumb">
				  <li><a href="index.html">Home</a></li>
				  <li class="active">About</li>
				</ol>

				<!-- Default one color devider -->
				<div class="devider"></div>
			</div>
		</section>
		<!-- end section show current page and breadcrumb -->

		<section class="container">
			<div class="row">
				<div class="about">
					<div class="col-sm-6">
						<h2 class="heading-cascade heading-cascade--danger"><span class="heading-cascade__step">High Professional Staff &amp;</span> Best Engineers Ever</h2>
						<p class="p-space">Nam auctor dapibus ante vel facilisis. Cras eget adipiscing nisi. Duis aliquet ligula non risus sollicitudin commodo. Donec ullamcorper lacinia turpis at aliquet. Cras consectetur fermentum erat, in placerat ligula pharetra eget. </p>
						<p class="p-null">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam dolor nisi, fermentum at vulputate in, aliquam id justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam et accumsan ante, et consequat neque. Fusce quis molestie eros. </p>
					</div><!-- end col -->

					<div class="col-sm-6">
						
					</div><!-- end col -->
				</div><!-- end about -->
			</div><!-- end row -->
		</section><!-- end container -->

		<div class="achivement">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="achivement-item">
							<span class="achivement-item__marker"> <i class="fa fa-share-alt"></i> </span>
							<h4 class="achivement-item__heading"><span class="achivement-item__highlight">2<sup>nd</sup></span> place</h4>
							<p class="achivement-item__info">at International IT Competion</p>
						</div>
					</div><!-- end col -->

					<div class="col-sm-4">
						<div class="achivement-item achivement-item--large">
							<span class="achivement-item__marker"> <i class="fa fa-trophy"></i> </span>
							<h4 class="achivement-item__heading"><span class="achivement-item__highlight">1<sup>st</sup></span> place</h4>
							<p class="achivement-item__info">on XX Annual Technology Conference</p>
						</div>
					</div><!-- end col -->

					<div class="col-sm-4">
						<div class="achivement-item">
							<span class="achivement-item__marker"> <i class="fa fa-lightbulb-o"></i> </span>
							<h4 class="achivement-item__heading"><span class="achivement-item__highlight">2<sup>nd</sup></span> place</h4>
							<p class="achivement-item__info">at Global Innovative Forum</p>
						</div>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		
		<div class="staff-container">
			<section class="container">
				<h2 class="block-title block-title--top-larger">Our Team</h2>

				<div class="swiper-container staff-slider">
				  <div class="swiper-wrapper">
				      <!--Slide-->
				      <div class="swiper-slide"> 
				        <div class="row">
							<div class="col-sm-12 col-md-6">
								<article>
									<a class="post post--preview-link staff" href="single-employee.html">
										<div class="row">
											<div class="one-column col-xs-6 col-md-7 col-lg-6">
												<div class="image-container image-container--max image--border-hover">
													<img src="__STATIC__/theme/images/526x526.png" alt="">
												</div>
											</div><!-- end col -->
											<div class="one-column col-xs-6 col-md-5 col-lg-6">
												<h3 class="staff__name">Neal Caffrey</h3>
												<p class="staff__position">Chief Executive Officer / CEO</p>
												<p class="post__text">Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est.</p>
											</div><!-- end col -->
										</div><!-- end row -->
									</a>
								</article><!-- end article -->
							</div><!-- end col -->

							<div class="col-sm-12 col-md-6">
								<article>
									<a class="post post--preview-link staff" href="single-employee.html">
										<div class="row">
											<div class="one-column col-xs-6 col-md-7 col-lg-6">
												<div class="image-container image-container--max image--border-hover">
													<img src="__STATIC__/theme/images/526x526.png" alt="">
												</div>
											</div><!-- end col -->
											<div class="one-column col-xs-6 col-md-5 col-lg-6">
												<h3 class="staff__name">Sara Ellis</h3>
												<p class="staff__position">Project Manager</p>
												<p class="post__text"> Sed in lacus adipiscing, dictum elit viverra, ultricies mi. Aliquam quis placerat massa. Mauris at augue erat.  </p>
											</div><!-- end col -->
										</div><!-- end row -->
									</a>
								</article><!-- end article -->
							</div><!-- end col -->

							<div class="col-sm-12 col-md-6">
								<article>
									<a class="post post--preview-link post--right staff" href="single-employee.html">
										<div class="row">
											<div class="one-column col-xs-6 col-md-5 col-lg-6">
												<h3 class="staff__name">Clinton Jones</h3>
												<p class="staff__position">WordPress Developer</p>
												<p class="post__text">Ut eleifend a erat sed facilisis. Mauris laoreet vitae lorem eget aliquet. Nullam rhoncus nisi quis nulla lobortis consequat.  </p>
											</div><!-- end col -->
											<div class="one-column col-xs-6 col-md-7 col-lg-6">
												<div class="image-container image-container--max pull-right image--border-hover">
													<img src="__STATIC__/theme/images/526x526.png" alt="">
												</div>
											</div><!-- end col -->
										</div><!-- end row -->
									</a>
								</article><!-- end article -->
							</div><!-- end col -->

							<div class="col-sm-12 col-md-6">
								<article>
									<a class="post post--preview-link post--right staff" href="single-employee.html">
										<div class="row">
											<div class="one-column col-xs-6 col-md-5 col-lg-6">
												<h3 class="staff__name">Elizabeth Burke</h3>
												<p class="staff__position">Web Designer</p>
												<p class="post__text">Cras eget hendrerit nunc. Duis aliquet volutpat ligula, id posuere neque pulvinar et. Donec sodales condimentum condimentum. </p>
											</div><!-- end col -->
											<div class="one-column col-xs-6 col-md-7 col-lg-6">
												<div class="image-container image-container--max pull-right image--border-hover">
													<img src="__STATIC__/theme/images/526x526.png" alt="">
												</div>
											</div><!-- end col -->
										</div><!-- end row -->
									</a>
								</article><!-- end article -->
							</div><!-- end col -->
						  </div><!-- end row -->
				      </div>
				      
				      <!--Slide-->
				      <div class="swiper-slide">
				        	<div class="row">

							<div class="col-sm-12 col-md-6">
								<article>
									<a class="post post--preview-link staff" href="single-employee.html">
										<div class="row">
											<div class="one-column col-xs-6 col-md-7 col-lg-6">
												<div class="image-container image-container--max image--border-hover">
													<img src="__STATIC__/theme/images/526x526.png" alt="">
												</div>
											</div><!-- end col -->
											<div class="one-column col-xs-6 col-md-5 col-lg-6">
												<h3 class="staff__name">Sara Ellis</h3>
												<p class="staff__position">Project Manager</p>
												<p class="post__text"> Sed in lacus adipiscing, dictum elit viverra, ultricies mi. Aliquam quis placerat massa. Mauris at augue erat.  </p>
											</div><!-- end col -->
										</div><!-- end row -->
									</a>
								</article><!-- end article -->
							</div><!-- end col -->

							<div class="col-sm-12 col-md-6">
								<article>
									<a class="post post--preview-link staff" href="single-employee.html">
										<div class="row">
											<div class="one-column col-xs-6 col-md-7 col-lg-6">
												<div class="image-container image-container--max image--border-hover">
													<img src="__STATIC__/theme/images/526x526.png" alt="">
												</div>
											</div><!-- end col -->
											<div class="one-column col-xs-6 col-md-5 col-lg-6">
												<h3 class="staff__name">Neal Caffrey</h3>
												<p class="staff__position">Chief Executive Officer / CEO</p>
												<p class="post__text">Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est.</p>
											</div><!-- end col -->
										</div><!-- end row -->
									</a>
								</article><!-- end article -->
							</div><!-- end col -->

							<div class="col-sm-12 col-md-6">
								<article>
									<a class="post post--preview-link post--right staff" href="single-employee.html">
										<div class="row">
											<div class="one-column col-xs-6 col-md-5 col-lg-6">
												<h3 class="staff__name">Elizabeth Burke</h3>
												<p class="staff__position">Web Designer</p>
												<p class="post__text">Cras eget hendrerit nunc. Duis aliquet volutpat ligula, id posuere neque pulvinar et. Donec sodales condimentum condimentum. </p>
											</div><!-- end col -->
											<div class="one-column col-xs-6 col-md-7 col-lg-6">
												<div class="image-container image-container--max pull-right image--border-hover">
													<img src="__STATIC__/theme/images/526x526.png" alt="">
												</div>
											</div><!-- end col -->
										</div><!-- end row -->
									</a>
								</article><!-- end article -->
							</div><!-- end col -->

							<div class="col-sm-12 col-md-6">
								<article>
									<a class="post post--preview-link post--right staff" href="single-employee.html">
										<div class="row">
											<div class="one-column col-xs-6 col-md-5 col-lg-6">
												<h3 class="staff__name">Clinton Jones</h3>
												<p class="staff__position">WordPress Developer</p>
												<p class="post__text">Ut eleifend a erat sed facilisis. Mauris laoreet vitae lorem eget aliquet. Nullam rhoncus nisi quis nulla lobortis consequat.  </p>
											</div><!-- end col -->
											<div class="one-column col-xs-6 col-md-7 col-lg-6">
												<div class="image-container image-container--max pull-right image--border-hover">
													<img src="__STATIC__/theme/images/526x526.png" alt="">
												</div>
											</div><!-- end col -->
										</div><!-- end row -->
									</a>
								</article><!-- end article -->
							</div><!-- end col -->
							
						  </div><!-- end row -->
				      </div>
				
				  </div>
				</div>
				
				<div class="devider-brand top-space"></div>
			</section>

			<div class="staff-slider-control">
				<a class="prev-arrow" href="#"><i class="fa fa-angle-left"></i></a>
				<a class="next-arrow" href="#"><i class="fa fa-angle-right"></i></a>
			</div><!-- end slider controls-->
		</div>

		<div class="promo promo--secondary promo--clean">
			<h3 class="promo__heading">We're Hiring &amp;</h3>
			<p class="promo__describe">You Can Join Us</p>
			<a class="btn btn-warning btn--decorated promo__btn" href="#">Apply Now</a>
		</div>

		<div class="testimonial-block">
			<div class="container">
				<div class="block-title block-title--top-larger">Testimonials</div>

				<div class="content">
	                <ul class="testimonial-wrap">

	                    <li class="testimonial">
							<div class="testimonial__images">
								<img src="__STATIC__/theme/images/160x160.png" alt="">
							</div>
							<p class="testimonial__author">Valentino Sorano</p>
							<p class="testimonial__info">CEO, Themeforest</p>
							<p class="testimonial__text">“Donec euismod turpis id ullamcorper lobortis. Maecenas faucibus ipsum sem, sed consequat ante consectetur non. Nam at neque dui. Integer id risus sit amet justo varius semper quis ut enim.”</p>
						</li>

						<li class="testimonial">
							<div class="testimonial__images">
								<img src="__STATIC__/theme/images/160x160.png" alt="">
							</div>
							<p class="testimonial__author">Ashley Spencer</p>
							<p class="testimonial__info">CEO, Envato</p>
							<p class="testimonial__text">“Aenean rutrum aliquet odio, ut posuere ante eleifend ac. Donec venenatis diam sapien, malesuada euismod diam rutrum a. ”</p>
						</li>

						<li class="testimonial">
							<div class="testimonial__images">
								<img src="__STATIC__/theme/images/160x160.png" alt="">
							</div>
							<p class="testimonial__author">James Bennett</p>
							<p class="testimonial__info">CEO, Photodune</p>
							<p class="testimonial__text">Quisque feugiat facilisis ipsum ut lobortis. Integer hendrerit sodales nisl nec tristique. Aenean commodo sapien ac tellus pharetra, quis tristique mi posuere.</p>
						</li>

						<li class="testimonial">
							<div class="testimonial__images">
								<img src="__STATIC__/theme/images/160x160.png" alt="">
							</div>
							<p class="testimonial__author">Valentino Sorano</p>
							<p class="testimonial__info">CEO, Themeforest</p>
							<p class="testimonial__text">“Aenean rutrum aliquet odio, ut posuere ante eleifend ac. Donec venenatis diam sapien, malesuada euismod diam rutrum a. ”</p>
						</li>

						<li class="testimonial">
							<div class="testimonial__images">
								<img src="__STATIC__/theme/images/160x160.png" alt="">
							</div>
							<p class="testimonial__author">Valentino Sorano</p>
							<p class="testimonial__info">CEO, Themeforest</p>
							<p class="testimonial__text">Quisque feugiat facilisis ipsum ut lobortis. Integer hendrerit sodales nisl nec tristique. Aenean commodo sapien ac tellus pharetra, quis tristique mi posuere.</p>
						</li>

						<li class="testimonial">
							<div class="testimonial__images">
								<img src="__STATIC__/theme/images/160x160.png" alt="">
							</div>
							<p class="testimonial__author">Valentino Sorano</p>
							<p class="testimonial__info">CEO, Themeforest</p>
							<p class="testimonial__text">“Donec euismod turpis id ullamcorper lobortis. Maecenas faucibus ipsum sem, sed consequat ante consectetur non. Nam at neque dui. Integer id risus sit amet justo varius semper quis ut enim.”</p>
						</li>

						<li class="testimonial">
							<div class="testimonial__images">
								<img src="__STATIC__/theme/images/160x160.png" alt="">
							</div>
							<p class="testimonial__author">Ashley Spencer</p>
							<p class="testimonial__info">CEO, Envato</p>
							<p class="testimonial__text">“Aenean rutrum aliquet odio, ut posuere ante eleifend ac. Donec venenatis diam sapien, malesuada euismod diam rutrum a. ”</p>
						</li>

	                </ul>
	            </div>

			</div><!-- end container -->
		</div>
		<!-- Colored devider -->
		<div class="devider-color"></div>
</block>

<block name="script">
<!-- mCustomScrollbar -->
<script src="__STATIC__/theme/external/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
	$(document).ready(function() {
		preloader();
		staffSlider();
		scrollSlider();
	});
</script>
</block>