<extend name="Base/common"/>

<block name="style">
	<!-- Isotope -->
	<link href="__STATIC__/theme/external/isotope/isotope.css" rel="stylesheet" />
	<!-- Magnific popup - responsive popup plugin -->
	<link href="__STATIC__/theme/external/magnific-popup/magnific-popup.css" rel="stylesheet" />
</block>
<block name="body">
	<!-- Section show current page and breadcrumb -->
		<section class="page-indecator">
			<div class="container">
				<h2 class="heading">Portfolio Fullwidth</h2>
				
				<!-- Breadcrumb pattern -->
				<ol class="breadcrumb">
				  <li><a href="index.html">Home</a></li>
				  <li class="active">Portfolio</li>
				</ol>

				<!-- Default one color devider -->
				<div class="devider devider--bottom-md"></div>
			</div>
		</section>
		<!-- end section show current page and breadcrumb -->

		<section class="gallery-wrapper">
			<h3 class="not-visible">Main conrainer</h3>

			<ul class="tags tags--btn" id="filters">
				<li class="tags__link tags__link--active" data-filter="*">All</li>
				<li class="tags__link" data-filter=".wp">WordPress</li>
				<li class="tags__link" data-filter=".html">HTML</li>
				<li class="tags__link" data-filter=".psd">PSD</li>
				<li class="tags__link" data-filter=".commerce">E-commerce</li>
			</ul>

			<div class="gallery-full">
				<a class="gallery-item wp" href="__STATIC__/theme/images/1108x1260.png">
					<div class="image-container image-container--describe">
						<div class="gallery__image">
							<img src="__STATIC__/theme/images/452x452.png" alt="">
						</div>	
						<div class="image-container__info">
								<span class="image-container__info-main">Co-working</span>
								<span class="image-container__info-more">WordPress</span>
						</div>
					</div>
				</a><!-- end gallery item -->
				
				<a class="gallery-item psd" href="__STATIC__/theme/images/1108x1260.png">
					<div class="image-container image-container--describe">
						<div class="gallery__image">
							<img src="__STATIC__/theme/images/452x452.png" alt="">
						</div>	
						<div class="image-container__info">
								<span class="image-container__info-main">Creativity</span>
								<span class="image-container__info-more">PSD</span>
						</div>
					</div>
				</a><!-- end gallery item -->
				<volist name="list" id="data">
					<a class="gallery-item psd" href="{:get_cover($data['cover_id'],$field = path)}">
					<div class="image-container image-container--describe">
						<div class="gallery__image">
							<img src="{:get_cover($data['cover_id'],$field = path)}" alt="">
						</div>	
						<div class="image-container__info">
							<span class="image-container__info-main">{$data.title}</span>
							<span class="image-container__info-more">PSD</span>
						</div>
					</div>
				</a>
				</volist>
			</div>
			
		</section><!-- end container -->

		<!-- Colored devider -->
		<div class="devider-color bottom-space"></div>
</block>

<block name="script">
 <!-- Isotope -->
<script src="__STATIC__/theme/external/isotope/jquery.isotope.js"></script>
<!-- Magnific popup - responsive popup plugin -->
 <script src="__STATIC__/theme/external/magnific-popup/jquery.magnific-popup.min.js"></script>
<script>
	$(document).ready(function() {
		preloader();
		isotopeGallery();
		galleryPopup();
	});
</script>
</block>