<extend name="Base/common"/>

<block name="style">
	
</block>
<block name="body">
	<!-- Section show current page and breadcrumb -->
		<section class="page-indecator">
			<div class="container">
				<h2 class="heading">Blog with Sidebar</h2>
				
				<!-- Breadcrumb pattern -->
				<ol class="breadcrumb">
				  <li><a href="index.html">Home</a></li>
				  <li class="active">Blog</li>
				</ol>

				<!-- Default one color devider -->
				<div class="devider devider--bottom-md"></div>
			</div>
		</section>
		<!-- end section show current page and breadcrumb -->

		<section class="container">
			<h3 class="not-visible">Main conrainer</h3>
			<div class="row">
				<div class="col-sm-8 post-wide">
					<article class="post post--preview">
						<div class="image-container image-container--empty">
							<img alt="" src="__STATIC__/theme/images/1360x660.png">
							<p class="post__date post__date--rect">May 01 2014</p>
						</div>

						<a class="post--preview__link" href="single-post.html"><h2 class="post-heading">Activists Take San Francisco to Court Over 'Google Buses'. Standart post</h2></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. Nunc eu sodales turpis, varius viverra mauris.</p>
					</article> <!-- end article -->

					<article class="post post--preview">
						<!-- Date slider -->
						<div class="swiper-container date-slider slider-present max-slider">
						    <div class="swiper-wrapper">
						        <!--Slide-->
						        <div class="swiper-slide" data-date="May 01 2014">
						        	<div class="image-container"> 
						        		<img src="__STATIC__/theme/images/1360x660.png" alt="">
						        	</div>
						        </div>
								
								 <!--Slide-->
						         <div class="swiper-slide" data-date="May 07 2014">
						        	<div class="image-container"> 
						        		<img src="__STATIC__/theme/images/1360x660.png" alt="">
						        	</div>
						        </div>

						        <!--Slide-->
						         <div class="swiper-slide" data-date="May 13 2014">
						        	<div class="image-container"> 
						        		<img src="__STATIC__/theme/images/1360x660.png" alt="">
						        	</div>
						        </div>

						    </div><!--end swiper wrapper-->

						    <div class="date-slider-control">
									<a class="prev-arrow" href="#"><i class="fa fa-angle-up"></i></a>
									<div class="date-slide"></div>
									<a class="next-arrow" href="#"><i class="fa fa-angle-down"></i></a>
							</div><!-- end slider controls-->
						</div><!--end swiper container-->
						<!-- end date slider -->
						

						<a class="post--preview__link" href="single-post.html"><h2 class="post-heading">Samsung Resists Apple in Court, But the Biggest Winners Are Consumers. Gallery Post</h2></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. Nunc eu sodales turpis, varius viverra mauris.</p>
					</article> <!-- end article -->

					<article class="post post--preview">
						<div class="image-container image-container--empty">
							<div class="video-container">
								<iframe src="" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								<p class="post__date post__date--rect">May 01 2014</p>
							</div>
						</div>

						<a class="post--preview__link" href="single-post.html"><h2 class="post-heading">Snapchat's Update Was Powered by Secret Acquisition. Video Post</h2></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. Nunc eu sodales turpis, varius viverra mauris.</p>
					</article> <!-- end article -->

					<article class="post post--preview">
						<p class="post__date post__date--rect post__date--static">May 01 2014</p>
						<a class="post--preview__link" href="single-post.html"><h2 class="post-heading">Google Hints It May Toss Long URLs From Chrome. Standard Post without Image</h2></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. Nunc eu sodales turpis, varius viverra mauris.</p>
					</article> <!-- end article -->

					<article class="post post--preview">
						<p class="post__date post__date--rect post__date--static">May 01 2014</p>
						<a class="post--preview__link" href="single-post.html"><h2 class="post-heading">Google Hints It May Toss Long URLs From Chrome. Standard Post without Image</h2></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. Nunc eu sodales turpis, varius viverra mauris.</p>
					</article> <!-- end article -->

					<article class="post post--preview">
						<div class="image-container image-container--empty">
							<img alt="" src="__STATIC__/theme/images/1360x660.png">
							<p class="post__date post__date--rect">May 01 2014</p>
						</div>

						<a class="post--preview__link" href="single-post.html"><h2 class="post-heading">Activists Take San Francisco to Court Over 'Google Buses'. Standart post</h2></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. Nunc eu sodales turpis, varius viverra mauris.</p>
					</article> <!-- end article -->

					<!-- Rectangle shapes -->
						<div class="pagination pagination--rect">
							<a class="pagination__prev" href="#"><i class="fa fa-angle-left"></i></a>
							<div class="pagination__block">
								<a class="pagination__item active-page" href="#">1</a>
								<a class="pagination__item" href="#">2</a>
								<a class="pagination__item mobile-small" href="#">3</a>
								<a class="pagination__item mobile-large" href="#">4</a>
								<a class="pagination__item mobile-large" href="#">5</a>
							</div>
							<a class="pagination__next" href="#"><i class="fa fa-angle-right"></i></a>
						</div>

				</div> <!-- end col -->

				<aside class="col-sm-4">
					<div class="sidebar">
						<h2 class="heading heading--section heading--first">Categories</h2>
						<ul class="list list--marker">
							<li class="list__item"><a class="list__link" href="">Webdesign (345)</a></li>
							<li class="list__item"><a class="list__link" href="">Prototyping (12)</a></li>
							<li class="list__item"><a class="list__link" href="">App Design (43)</a></li>
							<li class="list__item"><a class="list__link" href="">Webdevelopment (98)</a></li>
							<li class="list__item"><a class="list__link" href="">WordPress themes (209)</a></li>
						</ul>

						<a class="post post--popular" href="single-post.html">
							<div class="image-container image-container--expository">
								<img src="__STATIC__/theme/images/526x526.png" alt="">
								<div class="image-container__info">
									<span class="image-container__info-main">5 Times You Should Ditch Pay-Per-Click Search</span>
									<span class="image-container__info-more">May 02, 2014</span>
								</div>

								<div class="post--popular__marker">popular post</div>
							</div>
						</a>

						<h2 class="heading heading--section-separate">Text Widget</h2>

						<div class="text-widget">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. Nunc eu sodales turpis, varius viverra mauris.</p>
						</div>

						<h2 class="heading heading--section-separate">Tags</h2>

						<div class="tags tags--display">
							<a class="tags__link" href="#">app</a>
							<a class="tags__link" href="#">apple</a>
							<a class="tags__link" href="#">black</a>
							<a class="tags__link" href="#">blue</a>
							<a class="tags__link" href="#">button</a>
							<a class="tags__link" href="#">calendar</a>
							<a class="tags__link" href="#">clean</a>
							<a class="tags__link" href="#">dark</a>
							<a class="tags__link" href="#">dropdown</a>
							<a class="tags__link" href="#">flat</a>
							<a class="tags__link" href="#">form</a>
							<a class="tags__link" href="#">free</a>
						</div>
					</div>
				</aside><!-- end col -->
			
			</div><!-- end row -->		
		</section><!-- end container -->

		<!-- Colored devider -->
		<div class="devider-color bottom-space"></div>
</block>

<block name="script">
<!-- Flickr -->
 <script src="__STATIC__/theme/external/flickr/jflickrfeed.js"></script>
<script>
	$(document).ready(function() {
		preloader();
		dateSlider();
        flickr();
	});
</script>
</block>